
<form id="formulario"
    style="display: block;max-width: 500px;padding: 20px; margin: 50px auto;box-shadow: 0 0 5px #999; border-radius:  7px;">
    <img src="logo.png" alt="Infinitum sic-tech" style="display: block; width: 100px; margin: 10px auto;">
    <div class="form-group">
        <label for="parameters">parameters</label>
        <input type="text" class="form-control" id="parameters" required aria-describedby="parameters"
            placeholder="Parametros">
        <small id="parameters" class="form-text text-muted">Por favor ingrese sus Parametros
            correctamente.</small>
    </div>
    <div class="form-group">
        <label for="shoping_centers">shoping_centers</label>
        <input type="text" class="form-control" id="shoping_centers" required aria-describedby="shoping_centers"
            placeholder="Centros Comerciales">
        <small id="shoping_centers" class="form-text text-muted">Por favor ingrese sus Centros Comerciales
            correctamente.</small>
    </div>
    <div class="form-group">
        <label for="roads">roads</label>
        <input type="text" class="form-control" id="roads" required aria-describedby="roads"
            placeholder="Carreteras">
        <small id="roads" class="form-text text-muted">Por favor ingrese sus Carreteras
            correctamente.</small>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <div class="alert alert-success" id="listo" role="alert">Guardado</div>
    <div class="alert alert-danger" id="fail" role="alert">No se pudo realizar la operación</div>
</form>

<script>
    $("#formulario").on('submit', async function (e) {

        e.preventDefault();
        var datosJson = {
            "parameters": document.getElementById('parameters').value,
            "shoping_centers": document.getElementById('shoping_centers').value,
            "roads": document.getElementById('roads').value
        }
        $.ajax({ url: '/api/v1/synchronous_shopping',          
                method: 'POST',
                contentType: 'application/json',
                headers: {username: 'taximo_api_user'},
                dataType: 'json',
                data: JSON.stringify(datosJson), 
            success: function (res) {
                console.log(res) 
                document.getElementById('parameters').value = "";
                document.getElementById('shoping_centers').value = "";
                document.getElementById('roads').value = "";
                if (res.status == true) {
                    alert(`El resultado del tiempo minimo es: ${res.data.minimum_time}`);
                } else {
                    document.getElementById('fail').style.opacity = "1";
                    document.getElementById('fail').style.height = "50px";
                    document.getElementById('listo').style.padding = ".75rem 1.25rem";
                }
            }, error: function (xhr, status) {
                alert('Disculpe, existió un problema');
            }
        })
    });
</script>